.alturaContext{
  min-height: 482px;
  overflow: hidden;
  //.mat-tab-body-content {
  // overflow: inherit;
  //}

  .scroll-content {
    right: 10px !important;
  }
}
#botaoSalvar {
  height: 32px;
  padding-top: 0px;
  background: #607d8b;
  border-radius: 4px;
  text-transform: uppercase;
}

.cicloDisplay {
  background: rgba(0, 0, 0, 0.06);
}
.gridSecundaria {
  background-color: #ffffff !important;
}

.inputs {
  background-color: #eeeeee !important;
}
